*{
margin:0px;
padding:0px;


}







header {
    background-color: chartreuse;
    height: 4em;
    color: white;
text-align: center;


main{

}
footer{
    background-color:rgb(207, 105, 33);
}

}