*{
margin:0px;
padding:0px;

}
body{
    font-family: sans-serif;
font font-size: 18px;
}



header {background-color: rgb(97, 165, 28);
    height: 4em;
    color: white;
text-align: center;
}


main{
    background: rgba(255, 181, 96, 0.89);

}

footer{
    font-size: 40px;
}
